security.protocol=SSL
ssl.truststore.location=/etc/kafka/secrets/kafka.appSA.truststore.jks
ssl.truststore.password=aisresearch
ssl.keystore.location=/etc/kafka/secrets/kafka.appSA.keystore.jks
ssl.keystore.password=aisresearch
ssl.key.password=aisresearch
interceptor.classes=io.confluent.monitoring.clients.interceptor.MonitoringConsumerInterceptor
confluent.monitoring.interceptor.security.protocol=SSL
confluent.monitoring.interceptor.ssl.truststore.location=/etc/kafka/secrets/kafka.appSA.truststore.jks
confluent.monitoring.interceptor.ssl.truststore.password=aisresearch
confluent.monitoring.interceptor.ssl.keystore.location=/etc/kafka/secrets/kafka.appSA.keystore.jks
confluent.monitoring.interceptor.ssl.keystore.password=aisresearch
confluent.monitoring.interceptor.ssl.key.password=aisresearch
